@import "../../utils/colors.scss";

.message-block {
  position: relative;
  max-width: 40%;
  min-width: 0;
  padding: 12px 20px;
  padding-bottom: 24px;
  border-radius: 20px;
  font-size: 14px;
  color: white;

  &__time {
    position: absolute;
    bottom: 6px;
    right: 20px;
    opacity: 0.5;
    font-size: 10px;
  }
}

.message {
  display: flex;
  gap: 10px;
  width: 100%;

  &.own {
    justify-content: flex-start;
    flex-direction: row-reverse;
    > .message-block {
      background-color: $primary-color;
    }
  }

  &.user {
    float: left;
    > .message-block {
      background-color: $dark-200;
    }
  }
}
